<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DistIN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DistIN.Application.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="distin-menubar">
        <img class="distin-menubar-item" src="~/img/DistIN_Logo_1024x256px_2.png" />
        <a href="@Url.Action("Index","Home")" class="distin-menubar-item"><i class="bi bi-house"></i> <span>Home</span></a>

        @if (Context.IsLoggedInAdmin())
        {
            <a href="@Url.Action("Index","Admin")" class="distin-menubar-item"><i class="bi bi-people"></i> <span>Administration</span></a>
        }

        @if (Context.IsLoggedIn())
        {
            <a href="@Url.Action("Attributes","App")" class="distin-menubar-item"><i class="bi bi-card-list"></i> <span>Attributes</span></a>
            <a href="@Url.Action("AttributeSignatures","App")" class="distin-menubar-item"><i class="bi bi-pen"></i> <span>Signatures</span></a>
            <a href="@Url.Action("Logout","Home")" class="distin-menubar-item"><i class="bi bi-power"></i> <span>Log out</span></a>
        }
    </div>
    <div class="distin-body">
        @RenderBody()
    </div>
    <div class="distin-footer">
        @AppConfig.Current.ServiceDomain
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
